<!-- app/assets/javascripts/org/templates/manager.tmpl -->
<div class='message'>
  <span class='message-user' style='color: red'> ${user_name} (${created_at}):</span>
  <span class='message-body'>${body}</span>
</div>
