<!-- app/assets/javascripts/templates/responder.tmpl -->
<li class="responders-list-item" id="responders-list-item-${room_token}" style="display: block;" data-room_token="${room_token}">
  <a href="#">
    <span class="badge pull-right msg-counter">
      ${messages_count}
    </span>
    ${full_name}
  </a>
</li>



